body {
  font-size: .875rem;
  /* background-image: url('http://127.0.0.1:8000/fotouser/14.jpg');
  background-size: 100%;  */
}

h1{
  color: #008080;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h6{
  color: #000303;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #000000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* warna icon */
.sidebar .nav-link .feather {
  margin-right: 4px;
  color: black;
;
}

.sidebar .nav-link.active {
  color: #f2f2f2;
}

/*  warna icon ketika diklk atau dikunjungi */
.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */



.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.cetak{
  float: right;
  border-radius: 50%;
}

.tambah{
  border-radius: 50%;
}

.notification{
  background: red;
  color: white;
  padding: 5px;
}

.fa {
  color:white;
}

.fa-exclamation-triangle{
  color:red;
}




