:root {
  --loading-spinner-size: 1rem;
  --loading-spinner-gap: 1; /* [1] */
  --loading-spinner-wrapper: calc(var(--loading-spinner-size) * 3 + var(--loading-spinner-gap) * var(--loading-spinner-size) * 2); /* [2] */
  --loading-spinner-color: #222;
  
  --animation-timing: cubic-bezier(0, 1, 1, 0);
  --animation-duration: 600ms;
  --animation-count: infinite;
}

.loading {
  --spacer: calc(var(--loading-spinner-size) * var(--loading-spinner-gap) + var(--loading-spinner-size)); /* [3] */
  position: relative;
  width: var(--loading-spinner-wrapper);
  height: var(--loading-spinner-size);
  /* border: 1px solid red; */ /* [4] */
}

.loading span {
  position: absolute;
  top: 0;
  width: var(--loading-spinner-size);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: var(--loading-spinner-color);
  animation-timing-function: var(--animation-timing);
}

.loading span:nth-child(1) {
  left: 0;
  animation: scale-up var(--animation-duration) var(--animation-count);
}

.loading span:nth-child(2) {
  left: 0;
  animation: move-right var(--animation-duration) var(--animation-count);
}

.loading span:nth-child(3) {
  left: calc(var(--spacer) * 1);
  animation: move-right var(--animation-duration) var(--animation-count);
}

.loading span:nth-child(4) {
  left: calc(var(--spacer) * 2);
  animation: scale-down var(--animation-duration) var(--animation-count);
}

@keyframes scale-up {
  from { transform: scale(0) }
  to   { transform: scale(1) }
}

@keyframes scale-down {
  from { transform: scale(1) }
  to   { transform: scale(0) }
}

@keyframes move-right {
  from { transform: translate(0, 0)    }
  to   { transform: translate(var(--spacer), 0) } /* [3] */
}

/* General styling */
* { box-sizing: border-box }

body {
  /* min-height: 50vh; */
  /* display: grid; */
  place-items: center;
  /* background-image: ; */

  
}


#dtHorizontalExample th, td {
  white-space: nowrap;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
 bottom: .5em;
}

